@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.modal {
  @include mobile {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  .img--container {
    text-align: right;
  }
  .exit--button {
    border: none;
    background-color: white;
  }
  .overlay {
    @include mobile {
      background: white;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
    }
    @include tablet {
      background: rgb(34, 40, 63, 0.7);
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
    }
  }
  .modal--content {
    @include mobile {
      height: 42rem;
      width: 100vw;
      position: relative;
      background: white;
      padding: 1rem 1rem 0 1rem;
    }
    @include tablet {
      position: absolute;
      top: 16rem;
      left: 4.5rem;
      line-height: 1.4;
      background: #f1f1f1;
      padding: 1rem 1rem 0 3rem;
      border-radius: 3px;
      width: 80%;
      min-width: 27.125;
      height: 16.375rem;
      background-color: white;
    }
    @include desktop {
        width: 50%;
        min-width: 42rem;
        left: 19rem;
    }
  }
  .modal__header {
    font-size: 2rem;
    line-height: 2.5rem;
    @include mobile {
      width: 100%;
      padding-bottom: 2rem;
    }
    @include tablet {
       padding-bottom: 1rem;
    }
    @include desktop {
        min-width: 27.125rem;
    }
  }
  .modal__text {
    font-size: 1rem;
    line-height: 28px;
    width: 34rem;
    @include mobile {
      width: 100%;
      padding-right: 3rem;
    }
    @include desktop {
        padding-right: 3rem;
    }
  }
  .modal__button__container {
    display: flex;
    @include mobile {
      position: absolute;
      bottom: 0;
      width: 100%;
      justify-content: space-around;
      padding-bottom: 1.5rem;
      padding-right: 2rem;
      gap: 1rem;
    }
    @include tablet {
      justify-content: right;
      width: 90%;
      padding-right: 3rem;
      padding-bottom: 3rem;
    }
    @include desktop {
        padding-right: 4rem;
    }
  }
  .close--modal {
    @include mobile {
      border-radius: 20px;
      width: 100%;
      height: 2.25rem;
      color: $instock-slate;
      background-color: white;
      border: 1px solid $instock-slate;
    }
    @include tablet {
        width: 4.5rem;
    }
  }
  .confirm--delete {
    @include mobile {
      border-radius: 20px;
      width: 100%;
      height: 2.25rem;
      color: white;
      background-color: $instock-red;
      border: none;
    }
    @include tablet {
        width: 4.5rem;
    }
  }
}
