$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #ffffff;
$instock-slate: #5c667e;
$instock-cloud: #bdc5d5;
$instock-graphite: #232940;
$instock-light-grey: #f7f8f9;
$instock-green: #128463;
$instock-red: #c94515;
