@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouseCard {
  &__flex-container {
    display: flex;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    padding-top: 1rem;
  }

  &__name-link {
    display: flex;
    color: $instock-indigo;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
  }

  &__name-box,
  &__contact-box {
    width: 115px;
  }
}
